form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
    margin: 0 auto;
}

label {
    font-weight: bold;
}

input, button {
    padding: 0.5rem;
    font-size: 1rem;
}

button {
    background-color: #c6c0b4;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2bc05a;
}
